[2018-09-20 23:18] Ushinji opened #1 "18/09/21(土)_某会第1回もくもく会_キックオフ"
# 日時/場所
- 18/09/22(土) 10:00~
- 渋谷のどこか

# 議題
- [x] まず何をやるか
  - やる内容はテーマ決める？
  - バラバラで集まってやる？
- [x] 場所
  - 可能な限り無料の場所探したいけど、距離とかも考えたいね
  - もし参加費を払うのであれば、何時間いくらまで許容できるか、まずはここのチャンネル参加してる人だけでもいいから認識合わせしたいね
- [x] いつやるか？
  - 土日がいいのは、まあ、そう。
  - シェーランが不在の話合いになるけど、まずは日程が合いそうなところをいくつか見つけて候補を出す
  - 可能なら貴族会のように第○の△曜日☓☓時から☓☓+N時まで、と決める
- [x] 会の進行
  - 集まったら今日やることを宣言したい
  - 終了30分前に進捗報告したい
  - いろいろ進捗書き込むのもこのSlackでや

[2018-09-21 14:11] yumechi commented on #1
Github上で @なんとか とするとリンクになってしまうので修正しました。

[2018-09-21 14:12] yumechi opened #2 "打ち合わせ議事録を書く"
Markdownでいいよね

[2018-09-22 03:14] Ushinji commented on #2
GoogleDocumentにてログを残す。疑問点は、ここに書いてください
https://docs.google.com/document/d/1aGKRr3IX7fEZHXPnDe331LkQVK4rsunEB85qF1eSxvk/edit

[2018-09-27 23:43] yumechi commented on #2
（Google Drive、スマホからパッと見たいときにめんどいのでやっぱテキストで見たい…）

[2018-10-14 06:34] yumechi opened #3 "次回の計画"
* 12/8 予定
* 場所未定

[2018-10-14 06:40] yumechi opened #4 "某会第1回の振り返りを上げる"

[2018-10-14 06:41] yumechi commented on #1
まあ第1回のこの計画は非常に良くて、おっけーだったので closeしときましょ

[2018-10-14 06:41] #1 closed, assigned to nobody

[2018-10-14 07:02] yumechi commented on #2
とりあえず終了にします（Markdownにするのをやるとすれば、適当にやればいいかなと思う）

[2018-10-14 07:03] yumechi opened #5 "某会第1回の成果物を上げる"

[2018-10-21 04:05] Ushinji commented on #4
とりあえず、振り返りをまとめた。

■Keep
- 開催したこと
- 知識共有はできたこと
    - 分からないことを互いに教え合っていた
    - 案外教えられることが多かった。Gitの伝道師としてもうちょい頑張れるかも。
- 最後の成果共有会
    - 結果の共有ができた。
    - 最後にみんなで共有はでき、互いの情報共有ができて良かった
- にへい氏のブログアウトプットまで行ったこと、すごいと思った
- 打ち上げはやってよかった。

■Problem
- あとちゃんと起きるのはスキルなので、集合時間を守っていきたい（ごめんなさい）
- パソコンを忘れるやつがいる。
- みんなの集合がまちまちだったので、「今日何をするかについて、みんなで共有」についてが曖昧だった(いつやれば良いか分からなかった)
- 場所ぎめギリギリすぎたかも。

■ 気づき
- 集合時間にみんな集まると考

[2018-10-21 04:27] Ushinji commented on #4
実際にKPTの内容を元にTryを考えて行きましょう。

Problem, 気づきの内容を見る限り、以下の２点はTryに組み込みたいなと思いました。
1. 会議の議事録の保管方法(Google Docs→Githubへ以降)
2. 作業時間中の互いに教え合う流れをよりやり易くする工夫

## 1. 会議の議事録の保管方法(Google Docs→Githubへ以降)

1の議事録保管方法は、まぁ移行すればいいだけの話なので、やりましょう。長期保存するなら、Githubに残すが良いと思います。ただ、実際に集まって話し合いの結果をリアルタイムに共有、編集するツールとしてはGoogle Docの方が良いと思うので、ケースバイケースで。

## 2. 作業時間中の互いに教え合う流れをよりやり易くする工夫

2については、いくつか工夫案が出ていて、

### なにやってるか実況して困った時に声をかけや

[2018-11-01 11:21] yumechi commented on #3
* 12/16
* アディッシュ様借りる？

[2018-11-01 11:22] yumechi opened #6 "Connpassとかに宣伝うつ？"
希望だよ

[2018-11-01 11:28] Ushinji commented on #3
12/16 12:00~19:00 アディッシュのセミナールームは一旦押さえました。
部屋のキャパ的に、ゆったり作業できるのは20人ぐらい。

[2018-11-01 15:09] Ushinji commented on #6
さて告知のフォーマット考えますか。ざっと以下の通りですかね。

# はじめに

<要追記：なんかキャッチフレーズ的な何か。>

# 内容

<要追記：今回のもくもく会の説明>

# 開催要項

## 日程

【日時】2018-12-16(日) xx:xx ～ yy:yy（開場xx:xx）</br>
【場所】株式会社アディッシュ セミナールーム</br>
【住所】東京都品川区西五反田1-21-8 (KSS五反田ビル6階 セミナールーム)</br>
</br>
【アクセス】JR山手線 五反田駅西口より徒歩6分</br>
　　　　　　都営浅草線 五反田駅A3・A1出口より徒歩6分</br>
　　　　　　東急池上線 大崎広小路駅より徒歩1分</br>
　　　　　　JR山手線 大崎駅北改札口を出て西口出口より、大崎警察署に向かって山手通り沿い徒歩7分</br>

</br>
【設備】</br>
・フ

[2018-11-04 10:53] Ushinji commented on #2
# 日時/場所
- 18/09/22(土) 10:00~
- 渋谷のどこか

# もくもく会の前提
## まず何をやるか
  - やる内容はテーマ決める？
  - バラバラで集まってやる？

- 自分がやりたいことにもくもくする
- 講義形式のような、教える ⇄ 教わるの関係は無し
- 自分の興味を持っているもの・やることをもくもく会の前日までに宣言しておく
（スキルシートとかあると誰に何を聞けばいいのかわかるので、そういうの作っておけるといいね）

## やること案
- Alexaハンズオン
- LINEボットのハンズオン
- 技術書を使ったもくもく
- Python入門で新しい言語を触ってみよう！（現エンジニア）
- 機械学習のために基礎から数学をやってみよう（現エンジニアだけど、数学の基礎怪しい）
- railsのチュートリアルやりたい人

# いつやるか？

## どうやって決める

[2018-11-05 14:51] yumechi commented on #2
close されたissue は存在を忘れがちなので、wiki か リポジトリへファイルをコミットする運用を取りたいです

[2018-11-05 14:51] yumechi commented on #6
良いと思う1

[2018-11-05 14:52] yumechi commented on #6
貴族会のページから投稿することをお忘れないよう…！
あとやっぱりテンプレートはリポジトリへファイルコミットする人になりたいです

[2018-11-05 14:52] yumechi commented on #5
何もいいアイディアなし

[2018-11-16 01:53] yutonihei commented on #6
タイムスケジュール案ですが、
09:30 運営陣集合、会場準備
10:00-10:20 ガイダンス・軽い自己紹介（人数何人かにもよるけど）
10:20-12:40 午前もくもく（飽きたら外出てもいいけど）
12:40-13:00 報告会
13:00-14:00 一応休憩枠（腹が減っては黙々できぬ）
14:00-14:20 午後ガイダンス・中間報告・自己紹介（午前中来なかった人用にも）
14:20-17:40 午後もくもく（午前中に同じく）
17:40-18:00 報告会

すごいメ○○ルさんもくもくのタイムラインですが体感的に良かったので参考にしてます。
会場が何時まで借りられるかとかは気になります。
上記案だと午中2時間20分・午後3時間20分になっています。

こんな人に来てほしいは
 - プログラミング、どこから手をつけていいか分からない
 - 家だとやる気でない
 - オフラインで

[2018-12-02 07:00] yumechi opened #7 "Connpassにもくもく会の告知うつ"
目標 12/3 or 12/4

refs:  https://github.com/kizokukai/MokuMoku/issues/6

[2018-12-16 15:36] yumechi commented on #7
https://kizokukai.connpass.com/event/111963/
打てた

[2018-12-16 15:36] #7 closed, assigned to yumechi

[2018-12-16 15:36] yumechi commented on #3
できた

[2018-12-16 15:36] #3 closed, assigned to yumechi

[2018-12-16 15:38] yumechi commented on #4
* K
    * とりあえず開催できた
    * ホワイトボードはあると嬉しい
    * パソコンがなくてもペアプロとかできる
* P
    * やったことが挙げられていない
    * 起きれない人が多い
* T
    * まとめを上げるフローを作る

完全に第0回としたものの振り返り忘れれたという渾身のP

ちょっとここからも問題を抽出しておきましょう

[2018-12-16 15:38] yumechi commented on #5
何もできてないのでせめてブログのリンク集を作るか

[2018-12-16 15:39] yumechi commented on #6
* 継続的にやっていこう
* Connpassに告知だそう
* テンプレートはmdで管理してリポジトリにあげよう

[2018-12-16 15:40] yumechi opened #8 "某会第1回（Connpass初告知）の振り返りを上げる"
12/20(木)リミットで

[2018-12-16 23:51] yumechi commented on #8
* K
    * 某社セミナールームとても良い
    * お菓子を持ちあえた
    * 懇親会ができた
    * わからない点について共有ができた
* P
     * 開始時間集合率が悪すぎる（僕も午前指定の宅配が来なくてかなり遅れてしまった）
     * もう少し人増やしたい
     * 身内感がすごい。アイコン決めるワークは必要だけど、初めてくる人もいる中で騒がしくやるべきではない。
     * 直前キャンセル率が高い（原因は知りたい）
     * （前回からだけど）成果物まとめられてない
     * （長期課題）slackワークスペース分離していきたい
* T
     * connpassに告知を打つなら人を呼ぶことを想定する
         * 勉強会、イベントで繋げるとか
         * 僕らがもくもく会メンターになってわからない人を引っ張るとか

[2018-12-17 06:29] yutonihei commented on #8
- K
	- 各々成果を出せていること
	- 会場の準備・設営・撤収がスムーズ（うやまさんありがとうございます）
	- 分からない事や悩んでることについて共有して情報を提供しあえた
	- 懇親会まで全員いて楽しかった！
	- リモートもくもく者もいてお互いに報告もできてよかった
- P
	- 集まりがよくなかった（私もです、すみません）
	- Connpassでイベント公開してるからには周知する方法を模索しなければならない？
	- 大きい飲み物を買ってくる必要があるかどうか、後片付けの際に対処に困ると思った。
	- リモートもくもくの人はやっぱり切り離されてる感あるのでどうにかしたい。Hangoutを常につけておく？
	- 会社の仕事をやってて口頭でしか発表できないのはなんか物足りなく感じた・・・かも
	- やった事がまとまってない（まとめてどこにあげておく？記事化するのは誰？？）
- T

[2018-12-17 14:40] Ushinji commented on #8
**Keep**
  - Conpass告知した
  - Hagoutの画面共有での成果報告は楽で、かつ上手く共有できるツールと認識
<br/>

**Good**
  - hangoutでリモート参加は新しい試みであった
    - Hangout参加者がそれで満足なら良いですが、現地参加者からすると何とも言えないです
  - Conpassでの告知文や前日メールで、貴族会LTの経験を生かせた
    - 運営がテンプレート化できそう
<br/>

**Problem**
  - <特に何もないです>
<br/>

**Try**
  - <みんなで決めましょう！>
<br/>

**思ったこと**
  - 「もくもく会をやる目的とか、大事にする指標(KPI)って何だろうな？？」と思った
  - 「会場提供、設営等を行なった側」の自分からすると、ぶっちゃけ参加した人が **来てよかった*

[2018-12-17 15:04] yumechi commented on #8
単独だと学ぶのが難しくても、技術的なアウトプットをして成果報告でわかったこと、できなかったことを共有して技術的な知見を深めることが目的だと思っていて、サブの目的としてはコミュニティの中で技術的な取り組みができていること、技術的なつながりからコミュニティを広げていくこと、かなと思いますね。

とはいえ、数値としてこれを目指すっていうのはほぼ無理かなと思っていて、達成しうるとしたら運営とその他の人の比率を `1:2` にして僕らがもくもく会の技術メンターとなりつつ、自分の技術研鑽も進められて楽しかったね、位かなと。
あとは開催頻度とかなのかな。定期的に回していけるイベントをやれる実行能力・スケジュール管理能力とか、まあいろいろなところでアピールになるんじゃないんですか？

[2018-12-17 15:07] yumechi opened #9 "もくもく会イメージ画像を作る"

[2019-01-18 01:40] yutonihei commented on #8
リモート参加の方からの感想です。
- 場所移動しないから遠方からでも参加できていいよね
- やることが見つからないとかだと、周りに聞く人いないから辛いかも
- やりたいことが決まってればリモートは全然あり！

[2019-01-18 02:15] Ushinji commented on #8
この感想に対して、何を考えるべきかというのが大事で。

そもそもやりたいことがないのに、もくもく会に参加する人は想定するべきですかね？
そこを想定しなくてよいなら、やっても良いのではないかと思う

[2019-01-18 02:17] Ushinji opened #10 "会場提供者のPRタイムの導入について"
## 背景
イベントを行う会場(もくもく会、LT会)について、ある程度の人数を収容可能なスペース利用に対する金額を考えると、会社さんの会場提供が非常にありがたい

その前提であるため会場提供してくださる方を増やしていきたい。当然ながら会場候補は多い方がもくもく会の継続的に開催につながる。また、会場が変われば毎回新鮮な印象になり参加者も嬉しいはず(いろんな会社さんのオフィスいきたいやん？）

## 考えたいこと

とはいうものの会場提供は、「その会社さんのご好意+準備コストが前提」であるため、それに対するリターンは運営として用意したい。

なので **「会場提供者のPRタイムの導入について」** を作りたい

PRタイムの内容は、以下のざっくりしたイメージです。

- 会の最初に行う
- ５分程度
- 好きに話して良い(会社紹介、We are hiring!　など)

## 決めたいこと

[2019-01-18 02:49] Ushinji commented on #9
作成した。

![kizokukai-mokumoku2](https://user-images.githubusercontent.com/24544727/51362469-1e6a6e00-1b17-11e9-8c0a-758b24ad6829.png)

[2019-01-18 02:56] Ushinji opened #11 "もくもく会の「最初/最後にて全体で行うタイム」の再考"
## 議題

人数もある程度いるので、最初のガイダンス、最後の成果共有の時間をどうやって進めるか考えた方がよいと感じた。

ここはもう一度みなで考えたい。

[2019-01-20 09:13] yumechi commented on #10
会場提供者のPRタイムの導入は賛成です。（背景や内容についても問題なしです）ただ、会の最後のほうが印象に残るので、会社の紹介は最後がいいかな。

会の最初に会場注意とともに触れてもらうスタイルでもOKですけど。

[2019-01-20 09:18] yumechi commented on #11
最初

* 会場注意: 3分
* 自己紹介＋やること宣言: 1分 × 人数

最後

* やれたこと宣言: 2分 × 人数
* 会場提供会社の紹介: 5分

がいいです。

基本的にやること、やったことを共有してここまでできた！ できなかった！を明確にしつつ、やれたことについてはみんなで褒め会える文化が僕はいいと思っています。なので、最後のやれたこと宣言は削ってほしくないですね。

一方で本質作業でないところに時間をかけるのは参加者の気持ち的によくないかな、と思っていてこれ以上の時間を取るのは無しだと考えています。

[2019-01-20 09:19] yumechi commented on #8
やりたいことがないのに、もくもく会に参加する人は想定しなくていいです（作業にならないので）

メンターとしてのポジションでいてくれるならそれはそれで嬉しいけど、そうなら一緒にペアプロするとかそういうモチベーションで誰かとくるでしょう、という考え。

[2019-01-20 09:19] yumechi commented on #6
,,,,,,

[2019-01-20 09:30] yumechi commented on #9
💯

close します

[2019-01-20 09:30] #9 closed, assigned to Ushinji

[2019-01-21 00:45] Ushinji commented on #10
最初より最後の方が参加率高い(遅刻してくる人など)もあるし、会の最後の方が確かにいいですねー

[2019-01-21 01:16] Ushinji commented on #11
## 質問

ここ質問なのですが、今回15人の参加者がいますが、全員が話すのってどう思いますか？
こちらについてメリット/デメリットがあると思っていて

## 全員1人ずつ話す

**メリット**
* 参加者全員が、全員の成果を少しでも知ることができる
* 成果を少しでも知れれば、あとで会話のきっかけになる

**デメリット**
* 単純に15人を聞き続けるのが長くてダレる可能性が
* 1人あたりの話す時間が少ない

それに対して、別のアプローチとして **「グループを作る」** という選択肢もあると思います

## グループを作る

例えば、4人グループを作るとして、

**メリット**
* 一人当たりのアウトプット時間が増える
* 聞いたことに対する質問といったリアクションができる

**デメリット**
* 他グループの状況を知ることができない

## じゃぁどうすんの？

で決めるべ

[2019-01-21 10:14] yumechi commented on #11
アプローチいいですね。グループ作るのもありだと思う。僕は折衷案を考えました。

こっち派です。

感覚が逆で15人って超少ないし、はじめの自己紹介は全員でやればいいと思ってた。で、はじめのやりたいことは全員言えばいいかなって。
初めての人も多いし顔合わせはちゃんとしたほうがいいと思います。せっかく一緒に集まった人たちなので、出会いを大切にしたいなーと。

結果報告は逆にダレそうな気もしていて、グループでいいかなと。興味持ってそうな人たちで固めたりしたほうがいいのかなーって思ってます。

終了15分くらい前に成果発表やります、全員でやると時間かかると思うので、グループでやりましょ、聞きたい人のところ行こう。でいいんじゃないかなーと考えます。
で、興味のある人同士でフィードバック得てみるのが良いかなとか。

[2019-01-21 15:06] Ushinji commented on #11
ここは共感ですね。また、互いが分からない同士では、会話や質問するにもハードルあるので、自己紹介は全員でした方が結果的に全体の満足度は良くなるかと思います。

なるほどー

アウトプットタイム的な感じにするのではなく、立食の懇親会のような形で自由に自分が聞きたいところに聞きに行く感じで、そこで互いのアウトプットで交流する感じですかね？？

それとも、「俺はフロントエンドやったから、フロントエンド関連に興味あるやつ集合ーーーー」みたいにグループするイメージですかね？

それとも、運営側が初めに参加者が発表した今日やることを元に、ある程度分類してグルーピングするか。

[2019-01-22 10:32] yumechi commented on #11
このイメージで、そこまでガッツリ決めなくても、人数的に当日適当にやるで回ると思う。

事前アンケートで聞いてやるのは運営コスト上がるので、やりたくないですね。

[2019-01-22 14:00] Ushinji commented on #11
だいたいまとまった感じですかね。

# 会のスタート
## 開始
- はじめに/会場注意：5分
- 自己紹介＋やること宣言: 1分 × 人数：15分

- もくもく(13:20〜18:10)

## 終了
- 全体共有会(18:10〜18:30)
  - 各自が自由に動いて互いのアウトプットを共有
  - ここは運営が自発的に行動することなし
- クロージング
  - 会場提供者トーク(18:30〜18:35)
  - 締めの言葉・撤収案内(18:35〜18:40)
- 会場撤収(18:40〜18:50)
- 退出

[2019-01-30 00:53] GOD-oda opened #12 "twitterでの通知について"
アカウントの管理については他のissueで議論中だけど、もくもく会の告知とかインフォ系の通知とかにtwitter使った方がよさそう？とか思いまして。
で、誰がやるかはまた議論なんだけど、どうですかね？
現状、twitterのアカウントについては僕と平尾さんが管理できるヒトになってます。

[2019-01-30 00:55] yutonihei commented on #12
タスク分散的な意味で、誰やるはTwitter権限持ってる人にお願いしてもらった方が良いと思われます

[2019-01-30 01:02] GOD-oda commented on #12
なるほど！
例えば告知系は僕でも文章貰えれば流せますが、質問とかそういうのは対応出来ないんじゃないかと思って。僕がその場にいないから。

[2019-01-30 01:08] yutonihei commented on #12
告知自体は貴族会からで、当日の相談とかは貴族会にリプライきたらほかの人が自分のアカウントとかで回答すればいいんじゃないかなと思います！

[2019-01-30 01:31] GOD-oda commented on #12
なるほどですね！

[2019-01-31 00:16] Ushinji commented on #11
これDONEでいいですかね

[2019-01-31 00:16] #11 closed, assigned to yumechi, yutonihei

[2019-01-31 00:17] Ushinji commented on #10
これもDONEで

[2019-01-31 00:17] #10 closed, assigned to yumechi, yutonihei

[2019-01-31 00:18] Ushinji commented on #8
このKPTを振り返りつつ、2回目もくもく会頑張っていきましょー
クローズで

[2019-01-31 00:18] #8 closed, assigned to yumechi

[2019-01-31 01:28] yumechi commented on #5
成果物を上げることの検討優先度そろそろ上げてほしい

[2019-01-31 06:41] Ushinji commented on #5
「成果物を上げる」をもっと具体化したいですね。

参加者がもくもく会で出した成果物をどこかのページで一覧表示できるようにするという話ですかね？
そして、そのページを見ることで、参加者や第三者の人がもくもく会の様子を確認できるようにするという意図ですかね。

[2019-01-31 06:44] Ushinji opened #13 "もくもく会のConpassページのテンプレートを管理する"
,,,,,,

_Originally posted by @yumechi in https://github.com/kizokukai/MokuMoku/issues/6#issuecomment-455850015_

やりますね。

[2019-02-01 01:53] yumechi commented on #5
そうです

[2019-02-01 01:53] yumechi opened #15 "もくもく会やりますツイートする"
僕タスクです

[2019-02-01 02:50] Ushinji commented on #5
理解です。

じゃ、まずは成果物を集めるところですかね。ブログがあればURL、なければ何やったのか数行程度の説明を前回参加者に聞きますかね。聞く流れが、slackのmokumoku_workingにメンション付けてメッセージ送信で良いかと(明日もくもく会なので、今日中に完了させる必要あるなぁ。ダイレクトメッセージでいいか)

そして、成果物をどこにまとめるかについては、一旦Githubのissueにまとめますか。場所ないですし。

もし、貴族会ホームページができた際には、活動履歴として載せる。

こんな流れで、どうでしょうか？

[2019-02-01 11:58] yumechi commented on #15
https://twitter.com/kizokukai_jp/status/1091304686274019330
おやすみなさい

[2019-02-01 11:58] #15 closed, assigned to yumechi

[2019-02-03 02:22] Ushinji opened #16 "[某会第2回] もくもく会の振り返り"
第二回もくもく会も無事終了しました！みなさまお疲れ様でした！

せっかくなので、振り返りをして、会をよりよくしていきましょう！
振り返りの形式ですが、KPT形式でお願いします！

[2019-02-03 02:24] Ushinji commented on #16
## Keep
* Conpassページを突発ではなく、前もって公開(２週間前にやった：1/16)
* 最初のガイダンス、最後のクロージングの時間を作って、ちゃんと会として成立させる
    * グダグダなまま始まったり、終わらせたりしない
* 会場提供者LTの時間を作った

## Good
* 参加者が多くてよかった(14人)
    * 前日/当日キャンセル：5人
* slack、twitterに今日やったことを呟くよう促したら、一部やってくれている人がいてよかった
* 2回目なので、Conpassページ公開、開催するだけなら、ノウハウは溜まったと感じる
    * テンプレート化可能なので、やりますね

## Problem
* 最初自己紹介の時間作ったのですが、後から来た人のフォローをどうしようか。。。
* Slackチャンネル活用するのもいいけど、twitterの方が良くない？と

[2019-02-03 16:20] IkezoeMakoto commented on #16
## Keep
* 特にトラブルなく完遂できた
* 結構な人数が集まり、当日キャンセルもほぼなく実施できた
* (参加者として)とても満足度の高いイベントだった
    * 集中して作業できたので、進捗が出た
* 懇親会などで交流も深められた
* 会場提供LTできた
* 各種告知もいい感じにやってくれていた
* (知る限り)ほぼ宇山さん一人のマンパワーだけでかなり質が高いイベントだった

## Problem & Try
* タスクが一人によりがち
    * -> とりあえず私も次回から運営手伝います
    * 運営やってみたい人を参加者の中から公募してもいいと思った
* 途中参加者の把握、フォローが少しできていなかった？
    * -> 要議論
* 雑談はどこまでOKとするか、場合によってはもう少しお互いに相談しあったりとかあってもよかったかも
    * -> 要議論
    *

[2019-02-03 16:22] IkezoeMakoto commented on #16
遅くなってしまい申し訳ないです！振り返り書いておきました。
振り返り内容を受けてのネクストアクション等はいつまでに考えますか？
議論も一部必要だと思ってるので、場合によってはどこかで集まったりして話した方がいいのかなと思っています。

[2019-02-04 00:03] Ushinji commented on #16
せやな。ネクストアクションも決めましょう。
とりあえず一旦みんなの振り返りが出揃ってからで！

KPTについては、今週の土曜(2/9(土) 23:59)までにしますね。１週間以内で。

[2019-02-06 15:49] yumechi commented on #5
issue意外と探すの辛いしMarkdown書いてレポジトリのほうがいいかな、と思います

[2019-02-06 16:08] yumechi commented on #16
## KEEP

* 開催できた
* いい感じに最後内容の共有ができた、グループ同士でやるのがちょうどいいとわかった（全体だと長過ぎる）
* オープニングは知らないけど、クロージングはちゃんと閉められた
* キャンセル率が低い

## Good

* 有志で場所までの写真を上げてくれた人がいた
* もともと貴族会以外から来てくれる人も多々いた
* あとからでも入りやすい感じ、豊富な電源

## Problem

* 想定より募集時点での人数きすぎた感じはする
    * 他の場所考える？
    * 来てくれた人がなんのつながりだったかの手がかりは調べたい
* 第2回だが前回並に準備に時間がかかったような
    * 印象だけ
* Slackチャンネル運用は割と限界
    * 運営側の前回のログもすでになくて経緯が辿れない
    * 相談事は別のワークスペースとかDiscordとかに逃

[2019-02-06 16:10] yumechi commented on #5
対外発表の運用フロー自体もっと考えようで、Close（ #16 にも上がってるので

[2019-02-06 16:10] #5 closed, assigned to yumechi

[2019-02-06 16:11] yumechi commented on #16
この辺割と解決されてそう
https://github.com/kizokukai/MokuMoku/issues/4#issuecomment-431637995

[2019-02-06 16:12] #4 closed, assigned to yumechi

[2019-02-06 16:13] yumechi commented on #12
なんかこの辺もう少し上のレイヤで考えたいけど、貴族会アカウント向けにリプライきたら自分のアカウントでとっとと回答する運用のほうが問題解決速度が速いし、そうしましょう。

[2019-02-06 16:13] #12 closed, assigned to yumechi

[2019-02-06 16:15] yumechi commented on #6
#13 で続きで。

[2019-02-06 16:15] #6 closed, assigned to yumechi

[2019-02-06 16:17] yumechi commented on #13
https://github.com/kizokukai/MokuMoku/pull/14

[2019-02-06 16:17] #13 closed, assigned to yumechi

[2019-02-12 00:22] Ushinji commented on #16
ネクストアクションを考えるにあたって、とりあえず、KeepとGoodをまとめますね。

## Keep
### 開催できた系
  * 開催できた
  * 特にトラブルなく完遂できた

### Conpass公開
  * Conpassページを突発ではなく、前もって公開(２週間前にやった：1/16)
  * 2回目なので、Conpassページ公開、開催するだけなら、ノウハウは溜まったと感じる
    * テンプレート化可能なので、やりますね

### 始めと終わりの時間を作ること
  * 最初のガイダンス、最後のクロージングの時間を作って、ちゃんと会として成立させる
  * オープニングは知らないけど、クロージングはちゃんと閉められた
  * いい感じに最後内容の共有ができた、グループ同士でやるのがちょうどいいとわかった（全体だと長過ぎる）
  * 各種告知もいい感じにやってくれていた

#

[2019-02-12 02:06] Ushinji commented on #16
Problemのまとめ。
補足として、「思ったこと、わかったこと」もProblemにまとめています。

## Problem
### 今後の情報共有手段の運用について
* Slackチャンネル活用するのもいいけど、twitterの方が良くない？と思った
    * 個人的に、slackチャンネル１つしかないので、ここにみんなが進捗とか書きこむとメッセージが流れて嫌だなーと思いました
        * なので、自分のtwitterにハッシュタグつけて投げてました(まさかの運営が率先して違うことをするという…)
    * 貴族会常連でtimesチャンネルを作っている人はそこに好きに書き込んでフォローもらえる流れは凄く良いと思うのですが、それがない人はチャンネルに投稿するのハードルあるなと感じた。
    * あと、slackチャンネルに投稿するとクローズドですが、自分のtwitterに投稿

[2019-03-25 01:07] Ushinji opened #17 "[第１回]もくもく会の会場"
## 目的
- 次回もくもく会の会場を決める

## 結果
- 以下の会場を抑えました。

- 【日時】18/04/13(土)
- 【場所】アディッシュ株式会社 6Fセミナールーム
- 【住所】東京都品川区西五反田1-21-8 (KSS五反田ビル6階 セミナールーム)

## 注意事項
- 当日、隣のセミナールームで別勉強会が行われる
  - [Perl入学式 | Perl Entrance](http://www.perl-entrance.org/)
- 参加者が迷わないように誘導オペレーションを考える必要がある

[2019-03-25 14:05] IkezoeMakoto opened #18 "[第1回]もくもく会の準備"

[2019-03-25 14:07] IkezoeMakoto commented on #18
4/13開催らしい

[2019-03-25 14:07] IkezoeMakoto commented on #18
connpassページを用意する
https://teckup-tokyo.connpass.com/event/125149/preview/

[2019-03-25 14:07] IkezoeMakoto opened #19 "connpassページを用意する"
connpassページを用意する
https://teckup-tokyo.connpass.com/event/125149/preview/

_Originally posted by @IkezoeMakoto in https://github.com/techup-tokyo/MokuMoku/issues/18#issuecomment-476212680_

[2019-03-25 14:08] IkezoeMakoto commented on #19
あとアイキャッチ画像用意したい

[2019-03-25 14:08] IkezoeMakoto commented on #18
ツイッターアカウント作成
イベントページ作成して告知するまでに欲しさある

[2019-03-25 14:08] IkezoeMakoto opened #20 "ツイッターアカウント作成"
ツイッターアカウント作成
イベントページ作成して告知するまでに欲しさある

_Originally posted by @IkezoeMakoto in https://github.com/techup-tokyo/MokuMoku/issues/18#issuecomment-476213176_

[2019-03-25 14:09] IkezoeMakoto commented on #19
会場はうやまさんが抑えてくれたらしい

[2019-04-06 02:39] Ushinji opened #21 "もくもく会の司会進行用のスライド作成"
## やったこと
- もくもく会の司会進行用のスライド作成
https://docs.google.com/presentation/d/11pHdYfVAioX4z5vM8TI3WXqmV2FrndKcRPNMXCSwjuY/edit?usp=sharing

## 確認して欲しいこと
- 全体の流れ
- 「TechUp」の `説明`について
  - 説明の表現に誤りがないか？
  - 内容不足が無いかどうか？
  - 運営内で、認識の相違がないか？

[2019-04-06 05:29] yumechi commented on #20
https://twitter.com/techup_tokyo/

出来ました

[2019-04-06 05:29] #20 closed, assigned to yumechi

[2019-04-06 05:30] yumechi commented on #19
[TeckUp]もくもく会#1 https://teckup-tokyo.connpass.com/event/125149/ #teckup

出来てました

[2019-04-06 05:30] #19 closed, assigned to IkezoeMakoto

[2019-04-07 16:38] yumechi commented on #21
* 全体の流れはOK
* TechUpの説明について
    * ツイッターハッシュタグ `#techup` でお願いしておく
        * （会場のオペになるけど） `#techup` を貼っとく
    * いつかはそのうちみんなでなにか作りましょう！ みたいなのを書くのありかも
        * 胡散臭さはあるかもしれないのでお任せ
* page 9
* `わからないことがあったらSlackを利用！` はちょっと意見を聞きつつ考えたい
    * Slackは運営しか使わない想定と考えてた
    * Twitterハッシュタグとか、口頭でHelp？
    * あるいは参加者用のWorkSpaceを用意するとか

[2019-04-07 23:44] IkezoeMakoto commented on #21
ありがとうございます！内容確認しました。

当日SlackについてはSlackにも書きましたが

[code]
という意見です。

[2019-04-08 00:54] Ushinji commented on #21
slackにも書きましたが、
当日のコミュニケーション手段は、自分も不透明だったので、コメント頂けてありがたい！

では、もくもく会中のコミュニケーションは、
- twitterハッシュタグ付きで呟く
- 直接質問する
のように述べておく感じですかね。

その、心持ちとしては、
「質問、交流するのおっけーだけど、特段ルールとか無いので好きにしてくれ。
一応twitterハッシュタグあるから呟くと、誰か助けてくれるかも！または、直接周りに質問するのええで！」

みたいな感じが参加者に伝わればいいすかね。

slackは参加者からの意見が多ければ、都度検討というスタンスで良いかと！

[2019-04-09 06:56] yumechi opened #22 "[第1回] もくもく会振り返りイベントを立てる"
Ref: #18

[2019-04-09 06:57] yumechi opened #23 "もくもく会イベント振り返り用文面テンプレート化"
#22 に関連

[2019-04-13 03:55] yumechi opened #25 "twitterのリプライ、ハッシュタグを拾ってSlackに投げる"
* IFTTT
* flow
* その他

コメントとしてはGmailで管理が終わる範囲がベター

[2019-04-13 04:01] yumechi commented on #25
https://qiita.com/YuukiOgino/items/54f427544fe2fa304a80
これで十分な可能性もある

[2019-04-13 05:16] yumechi commented on #25
Slackに標準で用意されているtwitterインテグレーションでは、ハッシュタグでの投稿を取得できないという問題が存在する。

IFTTTがその点は楽に設定できそうであるため、IFTTTで検討を進める。

[2019-04-13 05:17] yumechi opened #26 "名前の統一"
経緯上、TechUpとTeckUpが存在することがわかった。

TeckUpに命名を統一する

もうちょい真面目なリストアップ

* Gmail
* GitHub
* Slack
* twitter
* Connpass

[2019-04-13 05:18] yumechi opened #27 "Connpassのグループ紹介ページを書く"
記載されていないため。作成する。

[2019-04-13 06:00] yumechi commented on #26
勝ったッ!第3部完!

[2019-04-13 06:00] #26 closed, assigned to yumechi

[2019-04-13 06:52] yumechi commented on #25
IFTTTで設定完了。軽いメモを残す。

# 設定

* Gmailの認証でログインしている（こんなところにパスワードを使うのはやだ）
* `#teckup` の検索をtwitterに流す設定
    * searchを使う
* mention を流す設定
    * mention of ゆあーあかうんと みたいなのを使う

# テスト

スクショ見て（まあ良さげ）

![image](https://user-images.githubusercontent.com/6592904/56075860-16635700-5e04-11e9-9c5e-3614a0cfe6d7.png)

![image](https://user-images.githubusercontent.com/6592904/56075862-211dec00-5e04-11e9-813a-8074a9d168

[2019-04-13 06:52] #25 closed, assigned to yumechi

[2019-04-13 07:22] yumechi commented on #21
とりあえず今回は会場説明をうまくやれたことですし、Closeしましょう。

[2019-04-13 07:22] #21 closed, assigned to yumechi, IkezoeMakoto

[2019-04-13 07:23] yumechi opened #28 "ユーザー交流用の場所を考える"
* Slack
* Discord

くらいが考えられる。ほかはなにかいい感じのあるかな。個人的にソースコードが読みにくいLINEはNG。

[2019-04-13 07:24] yumechi opened #29 "もくもくやLTで使える感じのラベル選定"
GitHubのラベルを活用できる形にする

[2019-04-13 07:39] yumechi commented on #29
移動したのでClose

[2019-04-13 07:39] #29 closed, assigned to yumechi

[2019-04-13 07:42] yumechi commented on #27
仮版を書いた。もう少しグループに関しての説明文章を作成したい。
ので、確認して確認してほしいです。

https://teckup-tokyo.connpass.com/

[2019-04-13 07:43] IkezoeMakoto commented on #27
よさそう

[2019-04-14 05:00] yumechi opened #30 "[第1回] 振り返り"
やる
ref: #18

[2019-04-14 05:10] yumechi commented on #30
僕はYWTで書きます。

# Y

* コミュニティとして初のイベントができた
* 予定通り開催できた。大きな問題はなかった。
* 発表交流はやってよかった
* Twitterハッシュタグを使えた

# W

* ハッシュタグは有効に活用できていると感じる。今後も続けたい。
* 発表交流も今回の人数であれば実施するの多いにあり
* 進捗が出せるのは気持ちが良い
* SlackにTwitterの情報流すのはキャッチしやすくて良い

# T

* コミュニティーのネーミングの由来とかを詰めるべき
    * とりあえずリネームだけ完了したが、結局どうなった？
    * 最初の説明スライドでも使いたいし、Connpassやホームページ等にも生かしていきたい
* 身内感をもう少し排除したい
    * 初回ということもあり、もともとの知り合いが多かった
    * 顔を知ってる人に話を振りがちな

[2019-04-15 04:36] yumechi commented on #27
とりあえずもうこれで。修正があれば issue なしで適宜やっていけばいいと思う。（1ヶ月に1回くらいはdiff撮ったほうがいいかもしれない）

[2019-04-15 04:36] #27 closed, assigned to yumechi

[2019-04-15 04:36] yumechi commented on #22
# はじめに

このイベントは[[TeckUp]もくもく会#1](https://teckup-tokyo.connpass.com/event/125149/)の振り返りイベントです。

もくもく会の開催を通して学んだこと、わかったこと、反省すべきこと、そして次にやるべきことを検討していきます。

# 検討内容

* 今回のもくもく会の振り返り
    * 準備段階
    * 当日運営
* 次回に向けての課題点の洗い出し
* 次回の日時決定・場所候補の選定

# 日時・場所

* 日時: 4/26(金) 20:00〜22:00 予定
* 場所: 未定（前回プランニング時点ではサイゼリア等に集まっていました、ミーティングスペース等の場所をお貸しいただけるのであれば[twitter: @teckup_tokyo](https://twitter.com/teckup_tokyo)宛にDMい

[2019-04-15 07:43] IkezoeMakoto commented on #22
提案ありがとうございます！

振り返りイベントを公開でやることの意義についてはぼんやり理解はあるのですが、
具体的なメリット・デメリットが腹落ちしておらず、そこの認識を揃えておいたほうがいい気がしました。

これは振り返りイベントを公開でやるなら振り返りイベントの中でやる必要はないのかなと思いました。
（参加者を募る目的、参加者の参加目的にもよると思います）

[2019-04-15 07:44] IkezoeMakoto commented on #17
完

[2019-04-15 07:44] #17 closed, assigned to yumechi, IkezoeMakoto, Ushinji

[2019-04-15 07:45] IkezoeMakoto commented on #16
これ閉じていいやつかな

[2019-04-15 08:19] IkezoeMakoto commented on #30
### やったこと
* Twitterハッシュタグ利用
* TeckUpでの開催
* もくもく会運営初参加（あまり仕事してないけど）
* TeckUpコミュニティの発足

### 良かったこと
* TeckUpでの初イベントにもかかわらずはじめての人も参加してくれていた
    * connpassの分析を見れていないが、connpassやtwitterでの拡散が原因か？
* ハッシュタグでのコミュニケーションが結構うまく行ってそう
    * 多分最初の導入で説明したこと、前のホワイトボードに書いていたこと、みんなが進捗を上げてくれていたことが起因
* 当日までのタスクを棚卸ししていたので棚卸ししていたものに関してはつつがなく進捗した
* クロージングでの進捗報告と承認し合う雰囲気
    * これも導入で会の目的などを話して場作りができていたおかげかと

### 課題
* 棚卸ししてい

[2019-04-15 11:06] Ushinji commented on #22
提案ありがとうございます。概ね記事の内容は良いと思います。

一つ提案したいのが「この振り返りにイベントに参加できる人は、前回のもくもく会に参加した人に限る」という点です。理由は、このイベントの目的が「振り返り」(ですよね？)であり、当然もくもく会に参加した人でないと振り返りはできないので、イベントの目的からズレる思うからです。

どうでしょうか？

[2019-04-15 11:11] Ushinji commented on #22
こちらは自分も同意です。なので、わざわざ記載はしなくて良いかと思います。

ただ「書かないだけで、別に時間が余ったらやっても良いかと」と思うぐらいの気持ちです。

[2019-04-15 12:49] yumechi commented on #22
Connpassに乗せるのは今はやめとくかって気持ちになってきました。（チャットとかで意思疎通ができるほど、会のコンセプト等も固められていない段階だと思います。振り返りイベントをConnpassで立てるのも意思疎通がうまく行ってからでしょうね）

残念ですが、今回は見送ります。そのうちやろうってことを考えるときにやればいいんじゃないでしょうか。

クローズします。

[2019-04-15 12:49] #22 closed, assigned to yumechi

[2019-04-16 14:47] Ushinji commented on #30
### 良かったこと
- 第一回を無事に開催！
- 平尾さんのGithub, Twitter, Gmail, Slackなどなど、インフラ整備まじ感謝！
- また参加したいという声があった(よかった)
- 当日の会の説明などのスライドについては、事前にメンバー内でレビュー・認識揃えができた！

### 続けた方が良いこと(keep)
- Twitterのハッシュタグが結構利用されていたので、参加者同士で互いの進捗を見ることができた

### 課題に感じたこと(Problem)
- 事前メールの文面ミス
  - 作った人以外の確認をすっ飛ばしてメールを送ったのが問題
- 「 teckupの意味が分からなかった」と何人かに聞かれた
- 開催までの事前準備で互いに認識共有がズレてた(teckupの名前ですね)
 - 互いの進捗について、相互確認ができていない部分が多かった(できている部分はあった

[2019-04-16 14:53] Ushinji commented on #30
## 定量的な振り返り

* conpass統計
→ https://connpass.com/event/125149/stats/

### 参加者
- 申し込み数：11人（キャンセル:5人)
- 参加者数：10人
    - 一般：7人(1人は申し込み無し参加(O氏))
    - 運営：3人
- 参加状況
  - スタートから参加(13時)：7人
  - 途中参加：3人
- 懇親会参加
  - 参加者：5人

[2019-04-20 04:51] yumechi commented on #30
みなさんありがとうございました。

次に行っていくアクションとしては、次の運営MTGで決めていきたい気持ちがあります。ちょっと僕の方で棚卸しして、運営MTGでやることを考えてみます。

[2019-04-20 04:58] yumechi commented on #30
ザクッとカテゴリごとのまとめです。で、次の運営MTGでやることはまとめるので、この issue はクローズします。

# 運営系
## Y
* イベントが運営できた
* twitterハッシュタグはいい感じ
* コミュニティ発足
* スライドなどについては、レビュー認識揃えができた
* Slack, twitter, Gmail, GitHubとインフラ面を整えた効果は大きい

## W
* ハッシュタグは有効活用できている
* 棚卸しできていたものについては、しっかりと消化できた

## T
* TeckUpのネーミングや由来が詰められていない
* イベント参加者（もくもく会、懇親会両方）について管理が可視化されていない
    * 遅れて参加する人の考慮
* 棚卸しに漏れがあり、フォローをどうするか
* 事前メールミス
*

# 当日系
## Y
* また参加したいという声があった :

[2019-04-20 04:58] #30 closed, assigned to yumechi

[2019-04-20 04:59] yumechi commented on #18
まあ大体やったでしょ（ close  します

[2019-04-20 04:59] #18 closed, assigned to IkezoeMakoto

[2019-04-20 04:59] #16 closed, assigned to yumechi, yutonihei, Ushinji

[2019-04-20 05:06] yumechi opened #33 "[要望]もくもく会の第何回かを修正したい"
このメンバーでやる、もくもく会と実際に開催されたもくもく会の回数は異なっており、認識がしにくい。次とかどうだろうか。

APIとかでがさっとやれるならそれもやりたい気がする。

* 一旦GitHub → Slackの連携を切る ( `/github unsubscribe なんちゃらかんチャラ` だったと思う)
* 某会の第0回〜第2回分までを某会第0回〜2回とリネーム
* TeckUp分（3回目）となっているものを1回目にリネーム

[2019-04-20 05:23] yumechi opened #34 "第1回振り返りMTG&第2回プランニング"
# やること

* 集まる場所・時間を決める（いつものところ？いつもの時間でOK？）
* 参加者を決める（運営メンバー3人だけでOK？）

# 内容

独断と偏見で優先順位決めます。

## 振り返り

1. TeckUpのネーミングや由来について
2. イベント参加者者の管理方法の可視化について（もくもく会と懇親会、別のイベント立てるのももちろんあり）
3. 参加者満足度を測るための仕組みづくり
4. 棚卸しの振り返り（細かいところだけ）

## 次回のプランニング

1. 日時の決定（どれくらいのスパンでやりたいのか合意取れていない）
2. 場所の決定（またアディッシュ様にお願いする or 他の会場も探してみる 、試してみる）

## 事前準備できそうなこと

適宜 issue でも切ってください

* 日時調整用の調整さんを立てる（5〜6月の休日すべてくらいで立てとけば良い）

[2019-04-21 05:11] Ushinji commented on #34
１つ質問がありますが、`やること` は「4/26の「振り返り/次回プランニング」の前に、事前に決めておくこと」という理解で良いでしょうか？

[2019-04-21 05:16] Ushinji commented on #34
であるならば、

これはいつも通りで、以下の通り。

時間：20:00~
場所：「サイゼリヤ 渋谷新南口店」
https://www.google.com/search?q=%E6%B8%8B%E8%B0%B7+%E3%82%B5%E3%82%A4%E3%82%BC%E3%83%AA%E3%82%A2&npsic=0&rflfq=1&rlha=0&rllag=35659383,139701403,526&tbm=lcl&ved=2ahUKEwjbxJTotuDhAhXWMd4KHWMwBR8QtgN6BAgKEAQ&tbs=lrf:!2m1!1e3!3sIAE,lf:1,lf_ui:4&rldoc=1#rlfi=hd:;si:10947414735621730328;mv:!1m2!1d35.6900926!2d139.7136826!2m2!1d35.6435994!2d139.6666

[2019-04-27 22:59] yumechi commented on #34
# 簡単なまとめ

## 振り返り
1. TeckUpのネーミングや由来について
   * `Tech` + `.+ck up`
   * `.+` の部分は参加者各自をイメージした単語を入れる
   * 多様性を表現していこう
1. イベント参加者者の管理方法の可視化について（もくもく会と懇親会、別のイベント立てるのももちろんあり）
   * 運営側の飲み会参加状況が把握できてなかったことがわかった
   * Connpassで運営参加枠を別途用意しとくのが良さそう
   * 懇親会の参加状況は適宜共有しましょう
1. 参加者満足度を測るための仕組みづくり
   * 休憩タイムとか設けてみる？
   * 進捗共有会とか見てると、参加者は交流を多少は求めてそうな感じ
   * 参加者に任意でアンケートをとる（回答されなくても良い）
   * 身内感を薄めていくための環境づくりはなにかの施策

[2019-05-19 11:51] yumechi commented on #34
特にコメントがないっぽいのでクローズ

[2019-05-19 11:51] #34 closed, assigned to yumechi

[2019-05-19 11:52] yumechi opened #35 "もくもく会#2のConnpassの告知"
そろそろ一ヶ月前なので

[code]

[2019-05-19 11:54] yumechi opened #36 "Connpassに投稿したらツイートする"

[2019-05-19 11:55] yumechi commented on #36
思ったけどConnpassのTeckUpアカウントに入って、TeckUpアカウントからイベントを作成し、ツイートすればいいのかもしれない。

[2019-05-20 10:11] Ushinji commented on #35
良いと思います！ありがとうございます！

LGTM！

[![LGTM](https://lgtm.in/p/oylAS6FJn)](https://lgtm.in/i/oylAS6FJn)

[2019-05-22 09:59] yumechi commented on #36
https://twitter.com/teckup_tokyo/status/1131136680188993537?s=19

[2019-05-22 09:59] #36 closed, assigned to yumechi

[2019-05-22 09:59] yumechi commented on #35
公開済み
https://teckup-tokyo.connpass.com/event/132406/

[2019-05-22 09:59] #35 closed, assigned to yumechi

[2019-05-29 02:02] IkezoeMakoto opened #37 "もくもく会#2の開催"

[2019-05-29 02:24] IkezoeMakoto commented on #23
一旦クローズ

[2019-05-29 02:24] #23 closed, assigned to yumechi

[2019-05-29 02:25] #2 closed, assigned to yumechi

[2019-05-29 22:09] Ushinji commented on #37
開催までに必要そうなことを思いつく限り書いた

@IkezoeMakoto @yumechi 確認、および足りないところのコメントをお願いします！

- 当日のスタッフの仕事一覧出し、および担当決め
- 最初のガイダンス、終わりの会の発表資料のレビュー(前回使った資料があるので、そこから修正点があるか確認)
- 当日のスケジュールの確認(前回のスケジュールから変更した方が良い点があるか？)
- 懇親会の予約
- もくもく会#2の振り返り会の日程決め

[2019-05-30 07:18] yumechi commented on #37
土日に見ます

[2019-06-04 15:40] yumechi commented on #37
だいたい良さそう。振り返り会なんですが、どうも6月かなり忙しく、オフライン参加が厳しい状況です。（他のプライベートタスクがちょっと重め）

これに関してだけ言及しておくと、 `TeckUp` とはなにか、ということについての説明は完全に足りてないので作成が必要です。（会の目的ではなく、ネーミングです。名前大事問題） これに関しては（僕は名前つけるところの問題と、由来をいろいろ情報として持ってきたので）誰かがボールを持ってほしいところです。

それと、スライドを作るのもそうなんだけど、Connpassで説明のテキストを作るのも必要だったりするので、それ用に使えるものもあれば嬉しいです。

[2019-06-04 15:41] yumechi commented on #37
それと懇親会の予約についてはそろそろ締め日を考えたりしなければいけないのでは、と思います。

あと期日前にやっておくこととしては、リマインドは手書きで一方書いておいたほうが参加者にとって丁寧かな、くらいでしょうか。（なんか毎回前日バタバタしているので、テンプレをちゃんと使ってください）

https://github.com/teckup-tokyo/MokuMoku/blob/master/mokumoku_sample/remind.md

[2019-06-06 09:32] IkezoeMakoto commented on #37
僕も一通り見ました〜

だいたいいいと思います。

issue切ってそれぞれ期限切って進めて行きましょうか〜

オフライン難しそうなら振り返りの内容だけ書いておいてもらって、という形にしちゃってもいいかもですね。詳細は振り返りするという内容でissue化してそっちで議論しますか〜

これも別途チケット切ってそこで担当決めますか。名前の由来とかに関しては前回決めたはずなので、その内容をconnpassやスライドに書き起こすイメージ。

[2019-06-09 23:46] Ushinji opened #38 "[第2回] 当日のスタッフの仕事一覧出し、および担当決め"
# 内容
- 当日のスタッフの仕事一覧出し、および担当決め

# 期限
- なるはや。前日まで。

[2019-06-09 23:51] Ushinji opened #39 "[第2回] 会の命名についての説明"
# 内容
- 会の命名についての説明が不十分なので、その説明を言語化する
- 具体的に以下の場所で使用するので、それに合わせて文言を考える
  - 当日のガイダンスでの発表資料
  - conpassページでの「会の説明」

[2019-06-09 23:54] Ushinji opened #40 "[第2回] 懇親会の予約"
# 内容
- 懇親会の予約
  - 「もくもく会」で「懇親会参加」の人数を調べる
  - 近くのお店に予約

[2019-06-10 00:42] IkezoeMakoto commented on #40
現時点での懇親会参加で回答している人11人

[2019-06-10 00:43] IkezoeMakoto commented on #40
一番近いトリキは”いつものトリキ”

[2019-06-10 00:55] Ushinji commented on #40
では、いつものトリキに11人で予約します。

[2019-06-10 01:06] IkezoeMakoto commented on #38
一旦パッとでるもの書いておきます。後で追加するかも
- オープニング、クロージングの司会
- 会場案内(要社員)
- 会場準備(2~3人, 重複可)

[2019-06-10 01:08] IkezoeMakoto commented on #40
あざます！

[2019-06-10 01:53] Ushinji opened #41 "[第2回]前日リマインドメール"
# やること
- 前日のリマインドメールの文面作成
- 前日のリマインドメールの送信

# Memo
前回、事前準備をし忘れて、内容に誤りがあるまま送信したので、事前確認をしっかりやること

[2019-06-10 01:56] Ushinji opened #42 "[第2回]もくもく会第2回の振り返り"
# 内容
- どうやって振り返りするか決める
- いつ？、どうやって？を決める

[2019-06-10 02:06] Ushinji commented on #38
このタスクについては、IkezoeMakotoさんが出して頂いた仕事に、各自アサインするで良いと思います。

これ、前回自分がやったので、やります。

これ、スタッフ枠で参加している人みんなでやりましょう。

[2019-06-10 02:09] Ushinji commented on #39
こちらについて、自分がやります。

タスクとしては、
- @Ushinji が、内容を考える
- @yumechi さん、 @IkezoeMakoto さん がレビューする

です。

[2019-06-10 02:15] IkezoeMakoto commented on #39
ありがとうございます！助かります！

[2019-06-10 02:15] IkezoeMakoto commented on #41
こちらやります！

[2019-06-10 10:52] Ushinji commented on #40
予約DONEです。
- 人数: 11人
- 日時: 6/15(土) 19:00~21:00
- 場所: いつものトリキ

なので、Closeします

[2019-06-10 10:52] #40 closed, assigned to yumechi, IkezoeMakoto, Ushinji

[2019-06-10 11:53] Ushinji commented on #39
## やったこと
@IkezoeMakoto @yumechi
一旦、conpassに掲載する用の「「TeckUp」名前の由来について」文言を作成しました。

- 認識はあっているか？
- 表現は正しいか？

という点を確認ください。

## 「TeckUp」名前の由来について

「TeckUp」は、技術や専門領域に縛られず、成長したいと思う人たちが集まるコミュニティです。

「TeckUp」という名前は、技術(Technology)の「Tech」と成長を表す「Up」を組み合わせることで、「技術的に成長する人の集まり」という意味が込められています。

また「Teck」とあえて表現している部分は正規表現の「.+」を表しており、これは「専門領域に縛られず、参加者のみなさんがそれぞれイメージした言葉を自由に表現してほしい」という意味が込められています。

[2019-06-10 12:23] yumechi commented on #39
（これクローズしたら下記もクローズしておいてほしい）

https://github.com/teckup-tokyo/teckup-tokyo.github.io/issues/2

[2019-06-10 12:27] yumechi commented on #39
ありがとうございます。前半部分は良いと思います。

（正規表現自体がちょっとソフトウェアエンジニアよりっぽい表現なので）具体的な例をあげつつ説明したほうが良いかと思います。雑に思いついたものでは

`Kick up 、 back up、 pick up など、様々な「ck」を表現しており` みたいな感じ？

[2019-06-10 12:54] Ushinji commented on #39
なるほどーー確かに。何か違和感あるなと思っていたのですが、正規表現の表し方は確かに！と思いました！あざっす！

でも、今になって冷静に考えると、 `様々な「ck」` も違和感ありますね。「なんだよ様々なck」って笑

それを踏まえて、修正。

## 修正案

「TeckUp」は、技術や専門領域に縛られず、成長したいと思う人たちが集まるコミュニティです。

「TeckUp」という名前は、技術(Technology)の「Tech」と成長を表す「Up」を組み合わせることで、「技術的に成長する人の集まり」という意味が込められています。

また「Teck」とあえて表現している部分は、「Tech Up」という言葉を、「Kick up」や「Pick up」、「Back up」などの自分が思う様々な言葉として表現できることを表しており、これは「専門領域に縛られず、参加者のみなさんが多様性を尊重し、それぞれ

[2019-06-10 12:56] yumechi commented on #39
![LGTM](https://lgtmoon.herokuapp.com/images/18714)

[2019-06-11 02:15] IkezoeMakoto commented on #39
今見ました！いいと思います！ありがとうございます！

[2019-06-11 02:18] IkezoeMakoto commented on #41
https://github.com/teckup-tokyo/MokuMoku/blob/master/mokumoku_sample/remind.md

これをベースに考える

[2019-06-11 02:22] IkezoeMakoto commented on #41
一旦
[code]

[2019-06-11 02:23] IkezoeMakoto commented on #38
ありがとうございます！

[2019-06-11 02:26] yumechi commented on #41
![LGTM](https://lgtmoon.herokuapp.com/images/17599)

[2019-06-11 03:00] Ushinji commented on #41
LGTM!

[2019-06-11 03:01] Ushinji commented on #39
あざっす！

あとは、会の最初のガイダンスの説明資料にも、上の会の命名の話を追加します

[2019-06-13 11:01] IkezoeMakoto commented on #41
ありがとうございます！
明日送ってクローズします！

[2019-06-13 11:29] Ushinji commented on #39
@IkezoeMakoto @yumechi

今回考えた会の命名を踏まえて、もくもく会当日に使用するスライドを作成しました。
以下のスライドの「会の説明」の部分を確認いただき、何かあればコメントください。

https://docs.google.com/presentation/d/1TPypUiFDiypI3Apdrpiwx2NWWGz4Z0Uk4GqCIc4v2og/edit#slide=id.g560bf767d0_0_27

[2019-06-13 12:07] yumechi commented on #39
カラーリングが良いですね

![LGTM](https://lgtmoon.herokuapp.com/images/21703)

[2019-06-14 10:12] IkezoeMakoto commented on #41
今から作業します

[2019-06-14 10:14] IkezoeMakoto commented on #41
送信DONE

[2019-06-14 10:14] #41 closed, assigned to IkezoeMakoto

[2019-06-16 03:58] yumechi opened #43 "[第2回]振り返り"
KPTまたはYWTで書く

[2019-06-16 04:03] yumechi opened #44 "[第2回] 振り返り会と次回プランニングを考える"
日程調整は後で。

@DAdDY0055 は参加ご自由に。

[2019-06-16 04:06] yumechi commented on #44
私ですが6月中は参加が難しい状況なので、日程調整用の調整さん立てて回答するのと、YWTを記載しておきます。

個人的には7月はLT会があるので、もしやるとしても8月で良いかなと考えてます。

[2019-06-16 04:06] yumechi commented on #42
あっ（重複して作ってしまった

[2019-06-16 04:06] yumechi commented on #42
あっ（重複して作ってしまった

[2019-06-16 04:07] yumechi commented on #42
私ですが6月中は参加が難しい状況なので、日程調整用の調整さん立てて回答するのと、YWTを記載しておきます。

個人的には7月はLT会があるので、もしやるとしても8月で良いかなと考えてます。

[2019-06-16 04:08] yumechi commented on #43
重複したので消す

[2019-06-16 04:08] #43 closed, assigned to yumechi, IkezoeMakoto, Ushinji, DAdDY0055

[2019-06-16 04:08] yumechi commented on #44
重複したので消す

[2019-06-16 04:08] #44 closed, assigned to yumechi, IkezoeMakoto, Ushinji, DAdDY0055

[2019-06-16 04:10] yumechi commented on #42
@DAdDY0055
YWT上げてもらうのはお願いしたいです。

一方で対面の振り返りは興味があれば、参加お願いします。

[2019-06-16 11:38] Ushinji commented on #42
みなさんお疲れ様でしたー！振り返りです。
どの形式でも良いと思うのですが、自分はYWT形式でやりました。

* Y：やったこと
  * 会の命名について運営メンバー内で認識を揃え、対外的に発表できる形を作った
* W：わかったこと(気づき)
  * １３時開始時の参加率が高かった
  * 開始時の参加率が高かったので、最初の自己紹介で互いに認識できる率が高かった
  * 15人ぐらいの人数が、参加者同士で認識しあえるちょうどいい人数だと思う
* T：次にやること
  * 継続的に開催していけたら良いですねー

[2019-06-17 11:34] yumechi commented on #39
クローズして良さそうなのでクローズ

[2019-06-17 11:34] #39 closed, assigned to yumechi, IkezoeMakoto, Ushinji

[2019-06-17 11:34] yumechi commented on #38
テンプレ化するところまで行きたい（この件自体はクローズでも良さそう）

[2019-06-17 11:35] yumechi commented on #42
# Y

* 開催した
* Taku さん運営参加 :ta-da:
* 会の命名が形になった
    * 特にスライドはGJでした
    * サイト作りたいなあ
* 会場を変えて開催した
* Twitterでの告知を継続的にできた
* 出欠管理ができた

# W

* 当日何時集合？ っていう情報共有がギリギリだったかも
* オフィスがおしゃれだと印象良さげかも
* 写真を上げている人がちらほらいたが、オフィス的には大丈夫だったのか疑問に思った
* ちょっと交流できて無い感じがするかも
* 最初の自己紹介は半分づつでも良かったかも。今回の形式はちょっと長すぎるかも。
    * 運営スタッフが1人ずつ入る形にして、運営スタッフから自己紹介をしてやるほうがクールかなあと。
* 参加者同士の交流場所を求めている人もいる
    * Slackは一案であるが、Slackスペースこれ以上増やすと

[2019-06-17 11:37] yumechi commented on #28
Gitterもありかも

[2019-06-17 11:38] yumechi commented on #28
https://gitter.im/zoe302/random
謎の場所

[2019-06-17 14:07] IkezoeMakoto opened #45 "当日役割テンプレ化"
テンプレ化するところまで行きたい（この件自体はクローズでも良さそう）

_Originally posted by @yumechi in https://github.com/teckup-tokyo/MokuMoku/issues/38#issuecomment-502646162_

[2019-06-17 14:08] IkezoeMakoto commented on #38
issue化したのでクローズ

[2019-06-17 14:08] #38 closed, assigned to yumechi, IkezoeMakoto

[2019-06-17 14:16] IkezoeMakoto commented on #28
割とありかもしれないっすね
やるって判断なったらorgnizationと連携して作るのが良さげ

[2019-06-17 14:17] IkezoeMakoto commented on #42
流れるとあれなので
https://chouseisan.com/s?h=999cff04eec3409ba5023e62d187f331

[2019-06-17 14:18] IkezoeMakoto commented on #42
次回日程を考える

[2019-06-17 14:19] IkezoeMakoto opened #46 "[第3回] もくもく会"
次回日程を考える
https://chouseisan.com/s?h=6fa5d8f39ce84052bfae3b55c00c44eb

_Originally posted by @IkezoeMakoto in https://github.com/teckup-tokyo/MokuMoku/issues/42#issuecomment-502702058_

[2019-06-17 14:58] IkezoeMakoto commented on #42
# Y
* 会場提供できた
* 出欠率100%
* 運営増えた
* 参加者を迎えに行くの頑張った
* 新規参加者も結構きてくれた

# W
* みんなもくもくしてたけど途中休憩したり、コンビニ行きたそうな人がいた
* 交流求めてる人の参加もあったこと
* 途中参加の人が多いと迎えに行く頻度が高くなりあまり作業できない（特にうちの場合）

# T
* 運営側で休憩時間をコントロールしてもいいかも
    * 1hごとに10mとか、その間にコンビニ行く人は行ってもらって運営も一緒にいくとか
    * 交流時間も取れて一石二鳥？
* 写真可否を聞く、ブログの執筆の推奨など(会場提供側的には書いてもらいたい)

[2019-06-18 01:35] yumechi commented on #42
コンビニ行きたいのはあったかも、確かにそうですね。

[2019-06-18 13:46] DAdDY0055 commented on #42
# Y
- 出席率100%
- conpassメールでの会場案内・遅刻者への案内
- 問い合わせメール対応
- 出欠とり

# W
- 受付のとこにいて「お手洗いどこですか？」とよく聞かれたので案内(ありましたっけ？)か張り紙があってもよいと思った。
- 入場案内は当日全体にメッセージ流した方がよいと思った(Twitterはあまり見られてない？)
- Twitterハッシュタグだとオープンすぎて投稿をためらう人が多い？(何をするかの投稿があまりなかった)
- IFFTでTwitterの投稿を監視するチャンネルがあった？(見てなかった)

# T
- 受付のとこにいて「お手洗いどこですか？」とよく聞かれたので案内(ありましたっけ？)か張り紙があってもよいと思った。
- 入場案内を当日全体にメッセージ&compassページのコメントで流す

[2019-06-18 13:50] DAdDY0055 commented on #42
交流ができてないという声もあったようですが、自分はもくもく会宙はもくもくしたい(なんなら自己紹介や成果発表ももっと軽くて良い)派なので、今回は集中できて良かったです。

交流を求めるならその後の懇親会かなぁと。
(お酒が苦手や時間の都合もあると思いますが)

[2019-06-22 12:12] DAdDY0055 commented on #42
# T
- 途中休憩を入れる
- 時間長めなので、適宜休憩を入れたほうが
- 途中から入ってきた人はそこで自己紹介できる
- 続けたい人、休みたい人は各自自由にして良い

[2019-06-22 12:26] DAdDY0055 commented on #42
### gitterを提供してみる
- ツールを提供しても使い方を設計しないと意味がない
- 最初に世界観(使い方)を説明する
- つまっているとこを投稿したら誰かが答えてくれるかも？
- 見てくれるような仕組みを作る

[2019-06-22 12:35] DAdDY0055 commented on #42
- 会場LTの資料を展開すると参加者がブログで紹介してくれたりする？
- ブログでは紹介して欲しい
- そのため(トラブル防止)のためにも写真の許可は確認しておく

[2019-08-14 08:33] IkezoeMakoto commented on #42
やった

[2019-08-14 08:33] #42 closed, assigned to yumechi, IkezoeMakoto

[2019-08-14 08:33] IkezoeMakoto commented on #37
おわった

[2019-08-14 08:33] #37 closed, assigned to yumechi, IkezoeMakoto

[2019-08-14 08:38] IkezoeMakoto commented on #46
やること上げていく

[2019-08-14 08:38] IkezoeMakoto commented on #46
前日リマインド

[2019-08-14 08:40] IkezoeMakoto commented on #46
当日役割決め

- オープニング、クロージングの司会
- 会場案内(要社員)
- 会場準備(2~3人, 重複可)

[2019-08-14 08:40] IkezoeMakoto commented on #46
懇親会手配

[2019-08-14 08:41] IkezoeMakoto commented on #46
前回の振り返りからのNAとか見なくていいんだっけ？（わすれた

前回の振り返り参照
https://github.com/teckup-tokyo/MokuMoku/issues/42

[2019-08-14 08:42] IkezoeMakoto opened #48 "[第3回]前日リマインド"
前日リマインド

_Originally posted by @IkezoeMakoto in https://github.com/teckup-tokyo/MokuMoku/issues/46#issuecomment-521156307_

[2019-08-14 08:42] IkezoeMakoto opened #49 "[第3回]当日役割決め"
当日役割決め

- オープニング、クロージングの司会
- 会場案内(要社員)
- 会場準備(2~3人, 重複可)

_Originally posted by @IkezoeMakoto in https://github.com/teckup-tokyo/MokuMoku/issues/46#issuecomment-521156949_

[2019-08-14 08:42] IkezoeMakoto opened #50 "[第3回]懇親会手配"
懇親会手配

_Originally posted by @IkezoeMakoto in https://github.com/teckup-tokyo/MokuMoku/issues/46#issuecomment-521157011_

[2019-08-14 08:43] IkezoeMakoto commented on #49
やりたい人いますかね

[2019-08-14 08:43] IkezoeMakoto commented on #50
近くに鳥貴族があった気がするけど、移転したんだっけ？

[2019-08-14 14:20] yumechi commented on #50
[五反田西口店【鳥貴族】](https://www.torikizoku.co.jp/shops/detail/379) は移動してなさそう。今回もここでいいと思います。

だめなら、[五反田東口店【鳥貴族】](https://www.torikizoku.co.jp/shops/detail/451) ですかね。

予約は遅くても来週月曜日くらい？

[2019-08-14 14:30] yumechi commented on #50
巻き取ろうかなと思ってます

[2019-08-14 14:32] yumechi commented on #50
現状飲み会参加人数が7人だったので、8人か10人でFixできそう

[2019-08-14 14:36] yumechi commented on #46
巻き取ります。

おまかせしたい。。。（前日は予定があって、時間が遅くなるため）

当日は頭の中で会場関係の @Ushinji が担当したほうがスムーズだなと思ってます。当日の会場の準備はとりあえず全員でとかでも良さそう…（もくもくの運営は4人なので、多くもなく少なくもなくで回りそう

[2019-08-14 14:46] yumechi commented on #46
NA読み直した。この辺が中途半端に浮いてて、今回間に合いそう。

* コンビニとか休憩タイムの導入
* 会場案内をConnpassメッセージで送る
* gitterの導入（作って結局放置気味なので色々テコ入れしないと難しそう、延期濃厚）

[2019-08-15 00:09] Ushinji commented on #46
これやります。

[2019-08-15 10:18] IkezoeMakoto commented on #50
ありがとうございます！お願いしたいです！

[2019-08-15 13:34] DAdDY0055 commented on #46
これやります(connpassより)

[2019-08-15 13:36] DAdDY0055 commented on #48
私でやります。

前日で以下メッセージを送る。
https://github.com/teckup-tokyo/MokuMoku/blob/master/mokumoku_LT%233/remind.md

[2019-08-15 13:39] DAdDY0055 commented on #46
当日は開始ギリギリか少し遅れそうなので、すみませんが当日の会場準備や受付は他の方にお願いしたいです。。

[2019-08-17 10:53] IkezoeMakoto commented on #48
ありがとうございます！助かります！忘れないようにすらっくでリマインド等セットしておくとよきです！

[2019-08-17 10:55] IkezoeMakoto commented on #49
会場準備は、当日の運営でやればたりそう。

司会は @Ushinji さんがやってくれるらしい。

[2019-08-17 10:56] IkezoeMakoto commented on #50
slackにもはりましたが、懇親会申し込みにしてしまったけど、懇親会のみキャンセルにしたいというい方の問い合わせが来ていたので、そのかたの人数だけマイナスして手配するようにお願いしたいです。（お問い合わせの対応は終わってます）

[2019-08-17 10:59] IkezoeMakoto commented on #46
NA的なやつからの抜粋していく

[2019-08-17 10:59] IkezoeMakoto commented on #46
入場案内を当日全体にメッセージ&compassページのコメントで流す

[2019-08-17 11:00] IkezoeMakoto commented on #46
会の進行回りの改善

* 写真等の撮影権限についての確認・会社ブログとかへの流用等のコミュニケーション
    * 気にしすぎかもしれない
    * 会場として使わせていただいている企業には、会場として利用いただきましたという事例を書いてもらえるといいかも？
    * あと写真撮影するならプライベートならOK、ブログに乗せてもOKとかそのあたりの線引を事前周知したい（スライドで）
        * 会場側が無断で写真を上げたりすると、結構後でトラブルになりがち（経験あり）
* 自己紹介のやり方改善
    * スタッフが1島ずつ入って、スタッフが見本を見せる形式で良いかなと
    * 最後の情報共有タイムも同じ島でやりたい
* 写真可否を聞く、ブログの執筆の推奨など(会場提供側的には書いてもらいたい)

[2019-08-17 11:00] IkezoeMakoto commented on #46
振り返り材料の収集

* 参加者アンケートを取る
    * 良かったところと悪かったところ聞くだけで良さそう

[2019-08-17 11:03] IkezoeMakoto commented on #49
急ですみません。。オープニングやクロージングの資料に下記内容を反映するのお願いで行きますか～？

https://github.com/teckup-tokyo/MokuMoku/issues/46#issuecomment-522227451

[2019-08-17 11:04] IkezoeMakoto opened #51 "[第3回]実施アンケート"
振り返り材料の収集

* 参加者アンケートを取る
    * 良かったところと悪かったところ聞くだけで良さそう

_Originally posted by @IkezoeMakoto in https://github.com/teckup-tokyo/MokuMoku/issues/46#issuecomment-522227465_

[2019-08-17 11:06] IkezoeMakoto opened #52 "[第3回]入場案内の通知"
入場案内を当日全体にメッセージ&compassページのコメントで流す

_Originally posted by @IkezoeMakoto in https://github.com/teckup-tokyo/MokuMoku/issues/46#issuecomment-522227391_

[2019-08-17 11:08] IkezoeMakoto commented on #52
前回のやつ

[2019-08-18 13:23] Ushinji commented on #52
弊社ビルは、入り口はしまっていないので大丈夫です。エレベータで6Fに上がってくれと伝えれば大丈夫かと思います。

以下、前回を参考に修正した内容です。ConpassイベントのURLも最新のものに更新しました

[code]

[2019-08-18 13:24] Ushinji commented on #49
了解です。対応しますー

[2019-08-19 13:34] yumechi commented on #50
五反田西口店を19時から8名で予約完了しています。
よろしくお願いいたします。

[2019-08-19 16:46] Ushinji commented on #49
以下、オープニング/クロージングの発表資料を作成しました。
https://docs.google.com/presentation/d/1cXQ9sQznd5R42JhNqg4c1VpuBt1mndqoYrrhmdbK_bo/edit?usp=sharing

前回からの変更点は以下です。そのため、変更点を中心に意見・コメントを頂けると嬉しいです！

- 3p: 諸注意を追記
  - 写真撮影についての内容を追記
- 10p: タイトルの修正
  - `「TeckUp」が提供する価値` →  `参加者には「TeckUp」を上手に使って欲しい`
  - 提供する価値が硬い表現だったので、もっと柔らかく、伝わりやすいように変更
- 11p: TeckUpのイベント紹介を追加
- 16p: 自己紹介を修正
  - 3~４人ぐらいのグループを作って行うような形式へ変更
- 19p: 成果共有タイ

[2019-08-24 03:56] IkezoeMakoto commented on #50
完了っぽい

[2019-08-24 03:56] #50 closed, assigned to yumechi

[2019-08-24 03:58] IkezoeMakoto commented on #49
ありがとうございます！

[2019-08-24 03:59] IkezoeMakoto commented on #48
完了

[2019-08-24 03:59] #48 closed, assigned to DAdDY0055

[2019-08-24 04:16] #52 closed, assigned to nobody

[2019-08-24 04:50] IkezoeMakoto commented on #51
作った

[2019-08-24 04:50] #51 closed, assigned to nobody

[2019-08-24 04:50] IkezoeMakoto commented on #46
振り返りする

[2019-08-24 04:50] IkezoeMakoto opened #53 "[第3回]振り返りする"
振り返りする

_Originally posted by @IkezoeMakoto in https://github.com/teckup-tokyo/MokuMoku/issues/46#issuecomment-524520038_

[2019-08-24 04:52] IkezoeMakoto commented on #53
まずは日程調整

https://chouseisan.com/s?h=3ef4fb5f15e04d9bbc7992f7f6a9361e

[2019-08-25 02:00] yumechi commented on #53
ありがとうございます。振り返りを書く前に少し気になっているところとして、

* 直接会う振り返り会&プランニングの会を開催する・日程調整をする
* 振り返り自体を書く

の2つはissue分ける運用にしたほうがいいかなあと考えています。（2トピックが並行しそうで分けて良さそうという気持ちです）

[2019-08-25 02:09] yumechi commented on #53
# Y
* 懇親会予約を初めて担当した（軽くできた感じ）
* 休憩タイムの導入（まあまあ良かった）
* 司会を14時から実施して遅れた人を救えた感じがする（すみません）
* みんなで片付けできた
* Gitterの導入（良かった）

# W
* 月曜日に懇親会を予約すれば土曜日の懇親会会場を抑えるのは間に合う
* 休憩タイムは非常に活発に交流がされていた
* 一方で休憩する時間中にずっと話し続けている感じになってしまったので、キリが悪かった
* 18時くらいで帰る人がいたが、結局どうしていたのかわからない
* Gitterは全然ありだなあという気持ち、ただガイドラインとかわなとかはまとめときたいところ
* 片付けは頑張れば、意外と早く終わる
* ちょっと懇親会身内感が強いかも
    * 改善案はないです
* Gitter移行でtwitterへの書き込みがほぼ無かった（良くも悪くも…？）

[2019-08-25 14:04] DAdDY0055 commented on #53
# Y
- コンパスページの作成
- 先日のリマインド

# W
- 途中参加など少し遅れてしまう人は多い
- 振り返り会の直前に帰ってしまう人が多い
  - 自己紹介とか成果報告とか交流とか好きじゃない人もいるので仕方がないとは思う
- gitterは面白いが、Slackと同じで無限にやってしまうので自制が必要
  - そこで発言してくれた人も多かったので導入自体はすごくよかった
- タイムキープ(休憩に入る、終わらせる)をする人が必要かも
  - 運営が盛り上がってしまうと制御する人がいなくなる(すみませんでした)

# T
- 休憩は時間をタイマーで区切って区切る
  - どうしても足りない人は外でやるのは？
- 途中帰ってしまって「あの人何やってたんだろう」というのは寂しいので、やること・やったこと・困ったことなどのフォーマット用意してgitterに投稿してもらう
- 途中参加の人

[2019-08-26 00:32] Ushinji commented on #53
## やったこと
- 当日の発表スライドを修正
  - [発表スライド](https://docs.google.com/presentation/d/1cXQ9sQznd5R42JhNqg4c1VpuBt1mndqoYrrhmdbK_bo/edit?usp=sharing)
  - [修正点](https://github.com/teckup-tokyo/MokuMoku/issues/49#issuecomment-522659613)

## よかったこと
- 休憩時間を作ることで、もくもく会の時間中で参加者同士の交流の時間を作れたこと

## 分かったこと
- 休憩時間に限らず、時間の区切りがないと話が盛り上がって、ずっと喋り続けること
  - 僕個人しては「そこで盛り上がってるし、周りに迷惑かけとらんし別ええやろ」と思って、特段問題視してなかった
  - ただ、あとあと考えると

[2019-09-26 14:09] yumechi opened #54 "[第4回] もくもく会を開催する"

[2019-09-26 14:09] yumechi commented on #54
次回は10/19@WG （予定）

[2019-09-26 14:10] yumechi opened #55 "[第4回] Connpass告知"

[2019-09-28 04:41] DAdDY0055 opened #57 "アンケートの項目検討"
効果測定できるための項目を作る
→参加者の満足度と、改善ポイントがわかる

・connpassID
・集中できたか

など

[2019-09-28 04:42] DAdDY0055 commented on #57
前回アンケート
https://docs.google.com/forms/d/15QAMTwmqpq4NoKXskrf8ddtQnonKy8XKM1Tq35WR5Sw/edit

[2019-09-28 05:08] DAdDY0055 commented on #57
【草案】
1. 年齢
　10代、20代、30代、40代、50代、それ以上

2. 差し支えなければconnpassのIDを入力お願いします(今後の参考にさせていただきます)

3. [TeckUp]もくもく会への参加は初めてですか？

4. イベントを何で知りましたか？
　- connpassで見て
      友人から聞いて
　　SNSで見た

5.  参加に至ったきっかけは何ですか？ →　複数チェック形式にする
  開催場所が近い
  作業する場所が欲しかった
  他のエンジニアとの交流したい
  一人だと集中できないので、みんなでもくもくしたかった
  その他

6. 全体の満足度について
    低い　1〜5　高い
　その理由は(自由記述)

7. しっかりもくもくできましたか
    できなかった　1〜5　できた
　その理由は(自由記述)

8. 次回も参加したいですか

[2019-10-07 10:58] IkezoeMakoto commented on #46
完

[2019-10-07 10:58] #46 closed, assigned to nobody

[2019-10-07 10:58] IkezoeMakoto commented on #49
完

[2019-10-07 10:58] #49 closed, assigned to Ushinji

[2019-10-07 10:59] IkezoeMakoto commented on #53
完

[2019-10-07 10:59] #53 closed, assigned to nobody

[2019-10-14 05:49] DAdDY0055 commented on #57
アンケート案作成してみました。
https://docs.google.com/forms/d/15kVKJfi4Yez190fzH1ewQmTkqomIpOT-N6xUnu-07gs/edit

何かおかしな点などないかご意見ください！

(前回からの変更点)
- 自由記述で2. 年代、3. ユーザー名欄を追加
- 5. 参加しようと思ったきっかけを追加
- 6. 満足度についての理由の自由記載欄を追加
- 8. 集中して作業できましたか？、10. 次回も参加したいですか？を追加
- 最後の自由記載欄に「こうだったらもっと良かった」を追記

[2019-10-14 07:43] yumechi commented on #57
ありがとうございます。気になった点をコメントします。

* 年代について
    * 一度選択すると未選択に戻せないので、ラジオボタンよりドロップダウンとかにしたほうがいいかなと思いました。
* 「【任意】(差し支えなければ)connpassのユーザー名を教えてください」について
    * 任意、と差し支えなければ、がかぶっているので任意だけで良いと思います
* 「4. 何で知りましたか？」について
    * 「4. このイベントを知ったきっかけについてお教えください」、とかですかね？
* 「5. 参加しようと思ったきっかけは何ですか？」について
    * 「5. 参加しようと思った動機は何ですか？」、とかですかね
    * きっかけは知るタイミングの話で、どういう気持ちで参加しているのかが動機かと思います
* 各種理由は任意回答であるものの、回答する箇所が多く見える印象があるので

[2019-10-14 08:47] DAdDY0055 commented on #57
ガッツリレビューありがとうございます！

- 年代について
→ドロップダウンにしました

- 「【任意】(差し支えなければ)connpassのユーザー名を教えてください」について
→年代やユーザ名は嫌がる人もいるかと思い、もしよければ・・ぐらいの意味で2重にしてましたが【任意】だけにしておきます。

- 「4. 何で知りましたか？」について
→前までシンプルに短くだったのでそのままにしてましたが、
「4. このイベントを知ったきっかけは何ですか？」ぐらいでどうでしょう？
(お教えくださいだとちょっと仰々しい気がしたのと、他同様`か？`で締めた方が統一感あるかなと)

- 各種理由
→任意なので飛ばせばそんな量ないので良いかなと思い増やしましたが、他の方でご意見あればください。(長くなるので↑にしてましたが、上記、◯◯の理由を教えてくださいといった形に修正しました)

- 「12.【任意】最

[2019-10-14 09:39] yumechi commented on #57
これで良いと思います！

[2019-10-14 12:33] Ushinji commented on #57
作成ありがとうございます！
yumechiさんがほとんど書いてくれたので、概ね良いかと！

その上で、一点気になったのが、

とありますが、「その他」はどういった入力を想定されていますでしょうか？個人的な意見として、この問いに対して、はい、いいえ以外の回答がないと感じたので。もし想定がないのであれば、その他は不要かと思いました。

[2019-10-15 01:14] DAdDY0055 commented on #57
仰るとおりだいたいはい、いいえで足りると思いましたが、例外的にそれ以外をいれたくなる人がいるかなと思い作りました。

例を出すのであれば、

とかですかね。

そういうのは自由記述欄に書いてくれるだろう、ということであれば不要だと思いますし、邪魔であれば消します！

[2019-10-15 02:47] Ushinji commented on #57
なるほど。確かにありそう！
であるならば、選択肢よりも横スライド形式で３段階で選ぶ方が、より適切かと思いました。

みたいな感じですかね。

[2019-10-15 03:30] yumechi commented on #57
確かにスライドで良さそう。僕ははい、いいえ、で後で理由聞くとかで良いかなと思いました。

[2019-10-15 04:20] Ushinji commented on #57
はい、いいえだけにして、あとで理由聞く形式にし、その他を選択肢から外すしますか。このケースがやりたいことを実現でき、かつ一番修正少ないですし。

また、スライドにする場合、中間の文言を考えるのが面倒そうですし(笑)

[2019-10-15 16:51] DAdDY0055 commented on #57
はい、いいえにし、任意で理由を聞く形にしました。

[2019-10-17 14:26] Ushinji opened #58 "[第四回]ガイダンス資料のアップデート"
## What
- [前回の振り返り](https://docs.google.com/spreadsheets/d/10SxAOfHWPjp0_N8z5713iSA-vT4Dpe_AZwrjgrGDV_8/edit?usp=sharing)を踏まえて、ガイダンス資料をアップデートしました。**気になる点や改善点などありましたら、コメントをお願いします。**
  - https://docs.google.com/presentation/d/1dj_9eExf10iJEXQrubjDfkQ3LIlof4n-hgxQT2OU8H4/edit?usp=sharing
- アップデート点をまとめると以下の３点です
  - 1. スケジュールに休憩時間を明記
  - 2. Gitterの説明を追加
  - 3. もくもく会に来た人向けに、はじめに行ってほしいことを説明するスライドを追加
- 以下

[2019-10-17 22:48] yumechi commented on #58
LGTM

[2019-10-18 10:22] #55 closed, assigned to yumechi

[2019-10-18 10:23] yumechi opened #59 "テンプレに入館方法、連絡先を足す"
[code]

[2019-10-19 04:44] DAdDY0055 commented on #57
他大丈夫そうなのでこちらでクローズします。

[2019-10-19 04:44] #57 closed, assigned to DAdDY0055

[2019-10-20 15:26] yumechi commented on #54
開催完了したのでクローズ

[2019-10-20 15:26] #54 closed, assigned to nobody

[2019-10-20 15:27] yumechi opened #60 "[第4回] 第4回の振り返り"
題4回の振り返りと題5回のプランニングをする。

KPT・YWTもこのissueに書く。

[2019-10-20 15:32] yumechi commented on #60
日程調整をとりあえず建てる。時間は暫定。

https://chouseisan.com/s?h=1753b30d423c4b97a3fd3177503ad64d

[2019-10-20 15:57] yumechi commented on #60
# Y

* Connpassのイベントページやリマインドを担当した
* Twitterでたまに告知
* Connpassの参加者通知用Botを個人的に作った（ https://github.com/yumechi/connpass-notification-bot にある ）

# W

* 前回の振り返りで出ていた場所をイベントページのタイトルに入れる、はわかりやすくてよかった
* 運用上やらなければいけないことが明確になりつつあり、作業する時間が大幅減してる気がする
* LT会から足した文言とかで反映できてないものがある
* 休憩タイムも時間は買ったらちょうど良さそうだった
* 遅刻した人がTwitterのDMしてきて気づくのが遅れた。ぞえさんのフォローにより、なんとか参加してもらえた。（ありがとうございました）

# T

* LT会で改善したものを反映する  #59
* ちょっと

[2019-10-21 03:49] Ushinji commented on #60
## Y(やったこと)
* スライドの修正
    * 会場に来た人が、はじめにすることを追加
    * gitterの説明を追加
* 休憩タイムの時間ハンドリング
    * タイマーで15min測った

## W(分かったこと、気づいたこと)
* 13時時点での参加率高かった
    * 渋谷という立地？
    * 参加者の意識の高さ？
        * 渋谷はもくもくユーザーが多い？
* オフィスが綺麗という感想
    * もくもく作業の集中できたという声
    * オフィス環境と作業の質に相関はある
        * どんな環境だと、もくもく作業の質が上がるか考えてみるも良さそう
* gitterへの自己紹介が多かった
    * 互いにどんな人がいるのか認識でき、みんなでもくもくしている感覚が大きくなる
* gitterの作業コメント少ない
    * みんな集中して

[2019-10-22 12:05] DAdDY0055 commented on #60
すみません、振り返りのシートを作成してませんでしたので作成しました。
前回の反省で、結局スプレッドシートに転記するので手間、というのがあったので追加はこちらにお願いします！
https://docs.google.com/spreadsheets/d/1SwhiQsI9U9EucNm5AZe_XsGnTVwR_8pd1PB23IWsrB0/edit#gid=0

(@yumechi さん、@Ushinji さん分は転記済みです)

[2019-10-22 13:05] DAdDY0055 commented on #60
自分の振り返り、振り返り会の出欠回答も済みです。

[2019-11-02 07:17] yumechi opened #61 "YWTの管理方法についての模索"
* スプレッドシートだと改行とか入ると見ずらい
* テキスト形式だと俯瞰しにくい

なんかのボードを考えるのが良さそう

[2019-11-04 15:19] yumechi commented on #60
やった。次回は12/14で計画

[2019-11-04 15:19] #60 closed, assigned to nobody

[2019-11-04 15:19] yumechi commented on #58
開催が終わってる上、特に課題点がなかった認識なので、閉じときます

[2019-11-04 15:19] #58 closed, assigned to nobody

[2019-11-10 07:08] yumechi opened #62 "第5回のConnpassをたてる"

[2019-11-10 07:15] yumechi opened #63 "もくもく会のテンプレがなんかMarkdownっぽくない"
`<br>` を使って無理やり改行するのは美しくないのと、LT側のテンプレートと何故かずれてしまっている。

各人がバラバラにやっていてはよくないので、統一する。

[2019-11-19 13:01] #59 closed, assigned to yumechi

[2019-11-19 13:01] #62 closed, assigned to yumechi

[2019-11-19 13:03] yumechi opened #65 "【第5回】issueをちゃんと切っておく"
忘れがちなので、今週中に

[2019-12-15 05:55] tamanobi commented on #65
#5は終わったのでクローズ

[2019-12-15 05:55] #65 closed, assigned to yumechi

[2019-12-15 05:56] tamanobi commented on #28
すでに Gitter に決まっているのでクローズ

[2019-12-15 05:56] #28 closed, assigned to yumechi

[2020-05-06 06:58] yumechi commented on #33
なんかもう放置されていて、久々に見たらあまりの状況に言葉を失っているので、気合でやります

[2020-05-06 07:20] yumechi commented on #33
* やった
* 某会は某会です
* 万が一参照する場合は old_event というタグを僕が目で見てつけて回ったので、それで検索してください

https://github.com/teckup-tokyo/MokuMoku/issues?q=is%3Aissue+is%3Aclosed+label%3Aold_event

[2020-05-06 07:20] #33 closed, assigned to yumechi

[2020-05-06 07:23] yumechi opened #68 "第1回, 第2回の文面が issue にある"
文章管理の観点で探しづらいため、リポジトリ管理に変えたい

[2020-05-06 07:24] yumechi opened #69 "第6回周りで使った文面を上げる"

[2020-05-06 07:25] yumechi opened #70 "オンライン開催用テンプレートを上げる"

[2020-05-06 07:26] yumechi opened #71 "第6回振り返り"
参加していたのは @yumechi @tamanobi @yutonihei @DAdDY0055 です。

振り返りMTGをするかどうかは各自の稼働次第ですが、一旦YWT or KPTをコメントに書いてください。

[2020-05-06 07:28] yumechi opened #72 "Markdown Lint とか textlint 入れたい"
自分用に作っているものがあるが、本質的でない文章チェックはあんまりしたくないので、導入したい

https://github.com/yumechi/my-markdown-writing-setting

[2020-05-06 08:22] yumechi opened #73 "mustache とかで管理したい"
[mustache記法について簡単にまとめてみた - Qiita](https://qiita.com/sengok/items/1d958348215647a5eaf0)

[2020-05-06 08:50] #69 closed, assigned to yumechi

[2020-05-06 08:50] #70 closed, assigned to yumechi

[2020-05-06 09:13] yutonihei commented on #71
# Y
- 部屋での自己紹介時の司会

# W
- 振り返り会の前に抜ける人がいた、そのケアができていなかった
- 自己紹介意外でしゃべる人はそんなに多くなかった（初対面だからだろうか）
- 途中のここまでできた！的なのが無くて少し寂しい気持ちにもなった（もくもくだから言いにくいのもありそう）

# T

→前回or前々回からのやつを参照しているけど、これ出来てないですね

後で編集するかもだけど一旦

[2020-05-06 10:12] tamanobi commented on #71
# Y

- 運営補助(スピーカー設定周りのサポート)
- 雑談ボイスチャットの提案

# W

- 交流がしづらかった
- もくもくボイスチャットが活発ではなかった
- もくもくテキストチャットが活発ではなかった
- 雑談ボイスチャットではいい感じ交流できていてよかった

# T

- もくもくボイスチャットをアナウンスボイスチャットへのリネーム
- もくもくテキストチャットを報告テキストチャットにリネーム
  - 今何やっているか書き込んだたり、できましたー！と言ったりするチャットにする
- 質問テキストチャットの設立

[2020-05-07 05:25] yumechi commented on #71
## Y

* オンラインでの開催
* 関連して Discord での活用
* 関連して Discord でのコミュニティ交流の場の提供
* オンライン開催で使ったテンプレを共有
* オンライン開催のために説明資料を改変して使いまわし
* （もくもく会中にやっていたことであるが）issue の整理
* 運営側のやり取りを Discord のプライベートカテゴリでやった

## W

* 大枠のタイムボックスはちょうどよい感じ
* 思いついて実行に移せたのは良かった
    * 特に実施までの短さは Good ポイント
    * 一方で準備不足は否めなかった
* 交流が少ない
    * 普段の交流タイムだと時間が足りない
    * お互い姿が見えないことも影響している可能性あり
    * とはいえ、Discord から出ないでやる方法を模索したい（次の項目に関連する）
    * 途

[2020-05-07 10:53] tamanobi commented on #71
裁量がどこまであるかわからんので、今回言ってもらえたのが嬉しいです。

[2020-05-14 10:49] DAdDY0055 commented on #71
## Y

* もくもく参加

## W

* 思ったより人が集まった。
    * リモートで場所の調整不要なので、もっとカジュアルにどんどんやって良いのでは？
* 雑談チャンネルはちょっと内輪っぽくなる。
    * それはそれで良いとも思ってます。

## T

* 相談チャンネルを作る
    * 技術的なことは難しいも、雑食系から流入があり、エンジニアの人と話したいという人がいるならキャリア相談ぐらいは乗れるのでは？と。

[2020-05-15 01:30] tamanobi commented on #71
振り返りは https://docs.google.com/spreadsheets/d/1popwSkttK2js2-pXMyPYOd81X-c-5eK9BWkAiXlLPOg/edit#gid=2032742011 で開催しました。

[2020-05-15 01:30] #71 closed, assigned to tamanobi, yumechi, yutonihei, DAdDY0055

[2020-05-15 02:57] yumechi commented on #71
少しだけ追記です。ちょっとここは書き方が乱雑すぎたと反省しています。

* 管理者権限があるのでやれたという面はある
    * なので僕の中では権限移譲はできていたという認識をしていました
* 一方で管理者権限があると何ができたのかをメンバーに周知できていなかった課題感がある（これが新のProblem感）
    * ここは意識外だったので本当に申し訳ないです
* Tryとしてはやっぱりいっぱい触ってみるのと、触ってできることを治験として共有していくこと、ですかね

[2020-05-15 02:58] yumechi commented on #71
まとめありがとうございました！

[2020-05-17 09:48] tamanobi opened #76 "第7回振り返り"
一旦、YWTで書きましょう〜。終わったら Issue をクローズします。

[2020-05-17 09:58] tamanobi commented on #76
# Y

- 参加した
- もくもく作業した
- 雑談とか相談チャンネルに積極的に書き込んで雰囲気を作った(つもり)

# W

- ゆるくてとてもいい
- 音声とか画面共有が成果発表でできなくなっている人は、テキストチャットに誘導するだけ問題なさそうだと思った
- 前日に準備していたことに気づかなかった
- Twitter アカウントの存在を忘れてツイートするのを忘れた
- Twitter アカウントの存在は知っていたけどパスワードがわからなかった
  - アカウント関連の https://github.com/teckup-tokyo/Management/issues/1 は立てた
- Slack と Discordをどれをどれで話すか決めたほうがよさそう(個人的には現在進行系のイベントはDiscord、運営全般はSlackがよさそう)
- 休憩2回は個人的に区切りがよくて最高だった

[2020-05-17 19:41] yumechi commented on #76
## Y

* 参加した
    * 個人としては前日の体調が崩壊→寝れなくなり事前準備→仮眠して、15時から参加
* 今回も無事にやりきれた
* スライドやアンケートの事前準備
    * 前回から直さないといけないポイントがあったが、前日時点で手を付けられていなさそうだった
    * 土曜日調子が悪くてほぼ寝ていたので、深夜帯に着手した
* 前回のTryの実施
    * ちょいちょい意識してやった気がする
* アカウント周りの意見出しとか
    * 所在が微妙なものがちょいちょいある気がする

## W

* 前回の振り返りであまり触れていなかったが、スライドの課題点がやや浮き彫りに
    * フォントがバラバラだったり etc
    * 自己紹介、成果発表は多分スライドを見せるより、告知チャンネルに貼ったほうがいい
        * 運営による先行した自己紹介 + やり方

[2020-05-23 13:02] DAdDY0055 commented on #76
# Y
- connpassページの作成
- 当日の進行

# W
- もくもく会であれば直近でも何とかできる
- (もくもくする場が欲しかったので開催したけどいざやってみると)運営・進行も兼ねているともくもくにあまり集中できない
  - 純粋にもくもくするのであれば気の知れた仲間を誘ってやれば良いのでは？と思ってしまった
- メッセージでURLを送る形式だと、直前に申し込みをする人がいるので気づかないことがあり
  - conpassにURLを貼っておくのが良さそう
- 休憩時間は自分一人が喋ってるだけなことも多々あってしんどかった
- 相談チャンネルは使われなかった
  - 休憩時間で質問はあった

# T
- TeckUpの今後や目指す方向を再考した方が良さげ
  - コミュニティを大きくしたい？個々の技術アップを目指すのであれば運営の仕組みについてあれこれ整備するのは意味が薄いよう

[2020-05-25 11:53] tamanobi commented on #76
アンケート見直してみて……。

みんな満足している。集中して作業はできている。
teckupもくもく会は交流も目的にしているため、「交流できましたか？」という質問項目があってよさそう。

[2020-05-25 11:55] tamanobi commented on #76
アンケートのconnpass の名前を聞く欄はDiscordのユーザー名の方が良いのでは？？ by yumechi さん

[2020-06-02 13:46] yumechi commented on #76
閉じられていないので閉じます。みなさんありがとう。

[2020-06-02 13:46] #76 closed, assigned to tamanobi, yumechi, yutonihei, DAdDY0055

[2020-06-14 20:07] yumechi opened #78 "第8回振り返り"
気づいた点があれば6/19までに書きましょう

[2020-06-14 20:07] yumechi commented on #78
### Y

* 2 時間開催のオンラインで初めてイベント実施
* 説明方法を少し変えて、スライドを連絡用チャンネルにはった

### W

* 人が少ないかも(イベントページ立てたタイミングが遅かったのはある)
* 2 時間だと運営負担は小さい
* 説明スライドをチャンネルに張るの悪くないなと思った
    * 自己紹介はチャンネルが変わる想定なので、配信画面を誰かが移さないといけない手間から解放される想定
    * オフラインでずっと表示してたものは特定のチャンネルに貼るのがよさそう

### T

* 可能ならオンライン開催を隔週でやりたい
* 隔週でやるなら人がいれば 4 時間、いなければ今回みたいに 2 時間のショート版でやりたい
    * ショート版なら省エネルギーでできるため
* 事前連絡、自己紹介、成果発表のスライドは連絡用チャンネルに貼るのを継続したい

[2020-06-20 03:31] yumechi commented on #78
特になさそうなのでクローズ

[2020-06-20 03:31] #78 closed, assigned to yumechi, IkezoeMakoto, yutonihei